testsuite/tests/ghc-regress/lib/Generics/xmlish/company.dtd

<!DOCTYPE company [
  <!ELEMENT company (dept*)                 >
  <!ELEMENT dept     (name, manager, unit*) >
  <!ELEMENT unit     (employee | dept)      >
  <!ELEMENT employee (person, salary)       >
  <!ELEMENT person   (name, address)        >
  <!ELEMENT salary   (#PCDATA)              >
  <!ELEMENT manager  (employee)             >
  <!ELEMENT name     (#PCDATA)              >
  <!ELEMENT address  (#PCDATA)              >
]>
